{% trans_default_domain 'LoevgaardPakkelabelsBundle' %}

{% if shippingMethodMapping.id %}
    <h1>{{ 'shipping_method_mapping.edit.heading'|trans }}</h1>
{% else %}
    <h1>{{ 'shipping_method_mapping.new.heading'|trans }}</h1>
{% endif %}

{{ form_start(form) }}
    {{ form_rest(form) }}
{{ form_end(form) }}

<script>
    $(function () {
        var $country = $('#{{ form.country.vars.id }}');
        $country.on('change', function () {
            var country = $(this).val();

            $.ajax({
                url: '{{ path('loevgaard_pakkelabels_api_wrapper') }}',
                data: {
                    uri: '/products',
                    params: {
                        'country_code': country
                    }
                },
                success: function (json) {
                    console.log(json);
                }
            });
        });
    });
</script>