{% trans_default_domain 'LoevgaardPakkelabelsBundle' %}

<h1>{{ 'shipping_method_mapping.index.heading'|trans }}</h1>

<div class="actions">
    <a href="{{ path('loevgaard_pakkelabels_shipping_method_mapping_new') }}" class="btn btn-primary">{{ 'layout.create'|trans }}</a>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>{{ 'shipping_method_mapping.index.id'|trans }}</th>
            <th>{{ 'shipping_method_mapping.index.source'|trans }}</th>
            <th>&nbsp;</th>
            <th>{{ 'shipping_method_mapping.index.product_code'|trans }}</th>
            <th>{{ 'shipping_method_mapping.index.service_codes'|trans }}</th>
            <th>{{ 'shipping_method_mapping.index.return_product_code'|trans }}</th>
            <th>{{ 'shipping_method_mapping.index.return_service_codes'|trans }}</th>
            <th>{{ 'layout.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for shippingMethodMapping in shippingMethodMappings %}
        <tr>
            <td>{{ shippingMethodMapping.id }}</td>
            <td>{{ shippingMethodMapping.source }}</td>
            <td><span class="glyphicon glyphicon-arrow-right"></span></td>
            <td>{{ shippingMethodMapping.productCode }}</td>
            <td>
                {% if shippingMethodMapping.serviceCodes is not empty %}
                    {{ shippingMethodMapping.serviceCodes|join(', ') }}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>{{ shippingMethodMapping.returnProductCode }}</td>
            <td>
                {% if shippingMethodMapping.returnServiceCodes is not empty %}
                    {{ shippingMethodMapping.returnServiceCodes|join(', ') }}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td nowrap>
                <a class="btn btn-sm btn-default" href="{{ path('loevgaard_pakkelabels_shipping_method_mapping_show', {id: shippingMethodMapping.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> {{ 'layout.show'|trans }}</a>
                <a class="btn btn-sm btn-default" href="{{ path('loevgaard_pakkelabels_shipping_method_mapping_edit', {id: shippingMethodMapping.id}) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'layout.edit'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(shippingMethodMappings) }}